.sidebar {
  color: white;
  width: 13%;
  height: 2150px;
  background-color: black;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1%;
  border-right: 1px solid;
  overflow-x: hidden;

  &__logo {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    color: white;
    text-decoration: none;
  }

  &__bottom {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 215vh;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      border-radius: 8px;
    }

    &.active {
      color: #0bb9b4;
    }
  }

  &__icon {
    margin-right: 10px;
    font-size: 16px;
  }

  &__text {
    flex-grow: 1;
    margin-top: -5%;
    text-decoration: none;
    color: white;
  }

  &__arrow {
    font-size: 12px;
  }

  &__submenu {
    margin-left: 28px;
    margin-top: 5px;
    list-style: disc;
    color: #666;
    font-size: 14px;

    li {
      margin-bottom: 4px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
